#####
# Konfigurationsfil for Sysnagios
#####

#####
# CONFIG

# Set to >0 for debug printsouts.
DEBUG=0

NRPE_PORT=2004

SYSNAGIOS_DEFS=/usr/local/sysnagios/sysnagios.defs
SYSNAGIOS_HOME=/usr/local/sysnagios_server
SYSNAGIOS_CONF=$SYSNAGIOS_HOME

# Where the host/services declarations will go
CONFIG_DIR=/usr/local/nagios/etc/services

NAGIOS_BIN=/usr/local/nagios/bin/nagios 
NAGIOS_CFG=/usr/local/nagios/etc/nagios.cfg 
NAGIOS_RELOAD_CMD='/usr/bin/printf "[%lu] RESTART_PROGRAM\n" `date +%s` >> /usr/local/nagios/var/rw/nagios.cmd'
NAGIOS_RELOAD_CMD='/etc/init.d/nagios restart'

#format user:group
NAGIOS_USR_GRP=nagios:nagios

# Configuration of nagios proxie servers. 
# You'll have to setup password free ssh logins for this to work. Or rsh or something.
PROXY_HOSTS=bmn-nagios,backup-nagios
PROXY_SSH=/usr/bin/ssh
PROXY_SCP=/usr/bin/scp
PROXY_USER=nagios

# Sysnagios home on the proxy server
PROXY_SYSNAGIOS_HOME=/usr/local/sysnagios_server
PROXY_CONFIG_DIR=/usr/local/nagios/etc/services

# Not sure if this is still needed
USESSL=1

# DEPRECATED PROBABLY NOT NEEDED
# getconfig.sh config.
HOSTS=${CONFIG_HOME}/autohosts.cfg
NRPE_CHECK="/usr/local/nagios/libexec/check_nrpe -c check_config"
APANADM_DIR=/usr/local/nagios/apan-sql/apanadm
RRDIR=/usr/local/nagios/rrd
RRORLOG=/tmp/getconfigs_error.log

# Template configuration. This is set different on the proxies
# to allow nagios to enable/disable active checks etc.
HOST_TEMPLATE=standardhost_1.1
ERVICE_TEMPLATE=standardservice_1.1

SERVICE_EXTINFO_TEMPLATE=nagiosgraph
HOST_EXTINFO_TEMPLATE=nagiosgraph-host

# Unix command called every config update. Used to do a check if you have some kind
# of database connection to ARS or similar
# Syntax command <HOSTNAME> 
# Where the hostname is added by sysnagios.
HOST_CONTROL_COMMAND=/usr/local/bmc-nagios/cmdbcheck/cmdbcheck.pl
